/* App.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app {
  text-align: center;
}
.user-image {
  max-width: 100px; /* Adjust the maximum width as per your navbar's requirements */
  max-height: 40px; /* Adjust the maximum height as per your navbar's requirements */
  width: auto;
  height: auto;
  border-radius: 50%;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #ce6a6a67;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 2.5rem;
  font-weight: bolder;
  font-style: italic;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
  /* background-color: blue; */
  color: red;
}
/* search bar */
.search-bar {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 0vh;
            background-color: #f0f0f0;
            margin-right: 24px;
          }


.input-container {
  position: relative;
  width: 300px;
}
.input-box {
  width: 100%;
  padding: 15px 20px;
  border: 1px solid #ccc;
  border-radius: 25px;
  font-size: 16px;
  outline: none;
  transition: all 0.3s ease;
}
.input-box:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
}
.input-box::placeholder {
  color: #aaa;
}

/*  */

.nav {
  display: flex;
  gap: 1rem;
}

.nav button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  text-decoration: none;
  color: #000;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.nav button:hover {
  background-color: #f0f0f0;
}

.header-icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.sign-in {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sign-in:hover {
  background-color: #0056b3;
}

.cart-icon {
  font-size: 1.5rem;
  cursor: pointer;
}
.user-menu {
  display: flex;
  align-items: center;
  position: relative;
}

.user-image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.menu {
  cursor: pointer;
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background: #fff;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-menu button {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  background: none;
  border: none;
  cursor: pointer;
  width: 100%;
}

.dropdown-menu button:hover {
  background: #f1f1f1;
}