/* CategoryPage.css */
.category-page {
  padding: 2rem;
}

.category-content {
  display: flex;
  align-items: flex-start; /* Align items at the start to ensure the sidebar and product grid are aligned at the top */
}

.sidebar {
  margin-top: 18px;
  width: 550px; /* Set a fixed width for the sidebar */
  margin-right: 20px; /* Add some space between the sidebar and the product grid */
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  flex-grow: 1; /* Ensure the product grid takes up the remaining space */
}
