.profile-container {
    max-width: 60px;
    margin: 2rem auto;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .profile-image {

    width: 100px;
    height: 10px;
    border-radius: 10%;
    margin-right: 1rem;
  }
  
  .profile-details {
    display: flex;
    flex-direction: column;
  }
  
  .edit-form label {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem
  }