.sidebar {
  width: 250px;
  padding: 1rem;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
}

.section {
  margin-bottom: 1rem;
}

.section h3 {
  margin: 0;
  padding: 0.5rem;
  cursor: pointer;
  background-color: #ce6a6a67;
  color: #333;
}

.options {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
}

.options div {
  margin-bottom: 0.5rem;
}

.options label {
  margin-left: 0.5rem;
}
